html {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

.center-container {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

.home-section {
    width: 40vw;
    box-shadow: 0 4px 5px 3px #cd606075;
    color: white;
    background-color: transparent;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    padding: 3em;
    padding-top: 1em;
    overflow: hidden;
    margin-top: 3vh;
}


.home-section>h1 {
    text-align: center;
    margin-bottom: 1em;
}

.home-section>p {
    padding: 0 20px;
    text-align: center;
}