:root {
    --clr-dark: #181e1e;
    --clr-red: #e63946;
    --clr-pink: #ff6864;
    --clr-yellow: #ffca28;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}